
// Loading config with variables (changing them leads to changing a color scheme)
@import "variables";

// Modules
@import "modules/page-header";
@import "modules/page-title";
@import "modules/table";
@import "modules/list-group";
@import "modules/navbar";
@import "modules/wrapper";
@import "modules/message";
@import "modules/btn";
@import "modules/nav-tabs";
@import "modules/panel";
@import "modules/callout";
@import "modules/well";
@import "modules/pagination";
@import "modules/avatar";
@import "modules/login";
@import "modules/label";
@import "modules/modal";
@import "modules/upload";

.container
{
    padding-left:20px;
    padding-right:20px;
    margin-top:5px;
    width:auto !important;

}

body { padding-top: 0px; }


.sidebar
{
    margin-top:10px;
}

.star-on
{
	color:#f5ab0b;
}
