//
// Variables
// --------------------------------------------------
@brand-primary: #3B65A7;
@brand-secondary: #28abe2;
@brand-dark: #2c3e4f;
@brand-light: #f2f2f2;

//@brand-info;
@brand-warning: #ffaa00;
//@brand-danger;
//@brand-success;
@brand-default: #f2f2f2;
@brand-gray: #666;
@brand-yellow: @brand-secondary;


// header

@header: @brand-primary;
@header-hover: @brand-secondary;
@header-text: #FFF;

// wrapper

@wrapper: @brand-light;
@wrapper-hover: #fff;
@wrapper-width: 218px;