.page-header {
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 1px #28abe2 solid;
}
.page-header h3,
.page-header h2,
.page-header h1 {
  margin-top: 0;
  margin-bottom: 5px;
  padding-bottom: 0;
  font-size: 22px;
  color: #666666;
}
.page-header h3 .btn,
.page-header h2 .btn,
.page-header h1 .btn {
  margin-right: 10px;
}
.page-header .row h3,
.page-header .row h2,
.page-header .row h1 {
  line-height: 30px !important;
}
.page-header .page-header-search input,
.page-header .page-header-search .btn {
  float: left;
  margin-bottom: 5px;
}
.page-header .page-header-search .btn {
  margin-left: 10px;
}
@media (max-width: 768px) {
  .page-header div.col-xs-left {
    text-align: left !important;
  }
}
.page-title {
  color: #3b65a7;
  font-size: 14px;
  border-bottom: 1px #3b65a7 solid;
  padding-bottom: 8px;
  margin: 0;
  margin-bottom: 8px;
}
.table thead tr th {
  font-size: 11px;
  color: #808086;
  border: 0;
}
.table thead tr th:last-child {
  text-align: right;
}
.table tbody tr td {
  padding: 14px;
  vertical-align: middle !important;
}
.table tbody tr td code {
  font-size: 10px;
}
.table tbody tr td.message {
  color: #b0b0b3;
  overflow: hidden;
  white-space: nowrap;
  max-width: 600px;
}
.table tbody tr td .label {
  margin-right: 5px;
}
.table tbody tr td .provider-icon {
  width: 16px;
  margin-right: 5px;
}
.table tbody tr td:last-child {
  text-align: right;
}
.table tbody tr td input,
.table tbody tr td select {
  max-width: 300px;
}
.table tbody tr:hover {
  cursor: pointer;
  background-color: #faf5e7;
}
.table-messages {
  table-layout: fixed;
}
@media (max-width: 768px) {
  .table-messages {
    table-layout: auto;
  }
  .table-messages thead {
    display: none;
  }
  .table-messages tbody tr td {
    border-top: 0;
    display: inline-block;
  }
  .table-messages tbody tr td.message,
  .table-messages tbody tr td.tags {
    display: block;
    width: 100%;
    white-space: normal;
  }
}
.table-data {
  margin-top: 20px;
}
.table-data tr:hover {
  background: transparent;
}
.table-data tr td {
  border-top: 0 !important;
  border-bottom: 1px #f2f2f2 solid;
  cursor: default !important;
}
.table-data tr td .image {
  width: 100%;
  height: 90px;
  overflow: hidden;
  background-size: cover;
}
.table-data tr td:first-child {
  background: #fff;
  color: #666666;
}
.table-data tr td:last-child {
  background: #FFF;
  text-align: left !important;
}
.table-data tr td .table tr td {
  border-bottom: 1px #FFF solid;
}
@media (max-width: 768px) {
  .table-data tr td {
    display: block;
    width: 100% !important;
  }
  .table-data tr td:first-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .table-data tr td .image {
    height: 200px;
  }
}
.table-bordered {
  border: 0;
}
.table-bordered thead tr th {
  border-bottom: 1px #ddd solid;
}
.table-bordered tbody tr td {
  border-top: 0;
  border-bottom: 0;
}
.table-bordered tbody tr td:first-child {
  border-left: 0;
}
.table-bordered tbody tr td:last-child {
  border-right: 0;
}
.table-inline tbody tr td {
  display: block;
  border-bottom: 0;
}
.table-inline tbody tr td:first-child {
  padding-top: 0;
  padding-bottom: 0;
  font-weight: bold;
  text-transform: capitalize;
}
.table-inline tbody tr td:hover,
.table-inline tbody tr td:active,
.table-inline tbody tr td:visited {
  background: #FFF;
}
.table-inline tbody tr:hover,
.table-inline tbody tr:active,
.table-inline tbody tr:visited {
  background: #FFF;
}
.table-translations {
  width: 100%;
}
.table-translations tr td {
  padding: 10px !important;
  border: 1px #FFF solid;
}
.table-translations tr td:first-child {
  width: 60px;
}
.table-translations tr td .checkbox {
  margin-top: 10px;
}
.list-group .list-group-item {
  padding: 5px 10px;
  border: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #fff !important;
}
.list-group .list-group-item .fa {
  margin-right: 4px;
}
.list-group .list-group-item.active {
  background-color: #28abe2;
  border-bottom: 1px solid #fff !important;
  color: #fff;
}
.list-group .list-group-item.active .fa {
  color: #FFF;
}
.list-group .list-group-item:first-child,
.list-group .list-group-item:last-child {
  border-radius: 0;
}
.list-group .list-group-item:first-child {
  border-radius: 0;
}
.list-group .list-group-item:last-child {
  border-radius: 0;
}
.list-channels .list-group-item {
  width: 50% !important;
  float: left;
  padding: 0;
}
.list-channels .list-group-item:hover,
.list-channels .list-group-item:active,
.list-channels .list-group-item:visited {
  background: #FFF;
}
.list-channels .list-group-item .item {
  border: 1px #f2f2f2 solid !important;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.list-channels .list-group-item .item.active {
  /*
                border:1px @brand-yellow solid !important;
                background:@brand-yellow;
                color:#FFF;
                */
}
.list-channels .list-group-item .item input {
  margin-right: 10px;
}
.list-channels .list-group-item img {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
header nav {
  background: #3b65a7 !important;
  border-bottom: 1px #f2f2f2 solid;
}
@media (min-width: 768px) and (max-width: 900px) {
  header .navbar-menu > li {
    display: none;
  }
}
@media (max-width: 768px) {
  header .navbar-toggle {
    border-color: transparent !important;
    background: none !important;
  }
  header .navbar-toggle .icon-bar {
    background-color: #FFF !important;
  }
  header .navbar-collapse {
    background: #f2f2f2;
    border: 0;
  }
  header .navbar-collapse .navbar-nav > li > a {
    color: #666666 !important;
    padding: 10px;
  }
  header .navbar-collapse .navbar-nav > li > a .fa {
    margin-right: 5px;
  }
  header .navbar-collapse .navbar-nav > li.active > a {
    background-color: #e6e6e6 !important;
    color: #666666 !important;
  }
  header .navbar-collapse .navbar-project {
    margin-right: -15px;
  }
}
header .open .dropdown-toggle {
  background-color: #28abe2 !important;
  color: #fff;
}
header .navbar-brand {
  padding: 5px !important;
}
header .navbar-brand img {
  height: 40px;
}
header .navbar-nav > li > a {
  color: #ffffff !important;
}
header .navbar-menu li > a {
  padding: 13px;
}
header .navbar-menu li > a .fa {
  font-size: 22px;
  vertical-align: bottom;
}
header .navbar-menu li.active > a {
  background-color: #28abe2 !important;
  padding-bottom: 17px;
}
header .navbar-menu li.active > a .fa {
  color: #f2f2f2;
}
header .navbar-project {
  margin-right: 42px;
  width: 125px;
  overflow: hidden;
}
header .form-search {
  border: 0;
  font-size: 13px;
  border-radius: 15px;
}
header li.btn-compose,
header .btn-compose {
  margin-left: 10px;
}
header li.btn-compose a,
header .btn-compose a {
  background: #28abe2 !important;
  font-size: 20px;
  padding: 6px;
  border-radius: 3px;
  margin-top: 8px;
  margin-right: 8px;
  color: #FFF;
}
header .navbar-header .btn-compose {
  margin-top: 8px;
  margin-right: 15px;
}
header .navbar-header .btn-compose a {
  padding: 6px 7px;
  font-size: 24px;
  background: transparent !important;
}
header .navbar-last {
  margin-right: 0px;
}
/* SIDEBAR */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-top: 1px;
}
#wrapper.toggled {
  padding-left: 218px;
}
#sidebar-wrapper {
  position: fixed;
  left: 218px;
  width: 0;
  height: 100%;
  margin-left: -218px;
  overflow-y: auto;
  background: #f2f2f2;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0;
}
.wrapper-fixed #sidebar-wrapper {
  top: 50px;
  padding-top: 20px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 218px;
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -218px;
}
/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 218px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 10px;
  padding-top: 24px;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 35px;
  margin-bottom: 0;
}
.sidebar-nav li.active {
  background: #ffffff;
  border-radius: 6px !important;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #333;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: auto;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
}
.sidebar-nav > .sidebar-brand p {
  font-size: 12px;
  color: #999;
  margin: 0;
}
.sidebar-nav > .sidebar-brand.well {
  margin: 10px;
  padding: 10px;
  background: #FFF;
}
.sidebar-nav > .sidebar-brand a {
  color: #f2f2f2;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #333;
  background: none;
}
@media (min-width: 768px) {
  #wrapper {
    padding-left: 218px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 218px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
#sidebar-wrapper {
  padding: 25px;
  padding-top: 70px;
}
@media (max-width: 768px) {
  #sidebar-wrapper {
    padding: 0;
  }
}
#sidebar-wrapper .page-title {
  border-bottom: 0;
}
#sidebar-wrapper .list-group-item {
  background-color: transparent;
  border: 0 !important;
}
#sidebar-wrapper .list-group-item.active {
  background-color: #28abe2;
  margin: 0 -25px;
  padding-left: 35px;
}
.view-menu-left {
  padding: 25px !important;
  padding-top: 70px !important;
  width: 222px !important;
  z-index: 2;
}
.message .panel {
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 10px;
}
.message .panel .provider-icon {
  margin-right: 5px;
}
.message .panel .label {
  margin-right: 5px;
}
.message .panel hr {
  margin: 5px 0;
  padding: 0;
}
.message .panel .panel-body img {
  height: 80px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.btn-stared {
  background: #ffaa00;
  color: #FFF;
  border-color: #ffaa00;
}
.nav-tabs {
  margin-bottom: 20px;
}
.nav-tabs li {
  margin-bottom: -1px;
  margin-right: 10px;
}
.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li a:active,
.nav-tabs li a:visited {
  padding: 10px 15px;
  border: 0;
}
.nav-tabs li a:hover {
  color: #28abe2;
  background: none;
}
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:active,
.nav-tabs li.active a:visited {
  color: #28abe2;
  cursor: pointer;
  border: 1px solid #ddd !important;
  border-bottom: 1px #fff solid !important;
}
@media (max-width: 768px) {
  .nav-tabs {
    border: 0 !important;
  }
  .nav-tabs li {
    width: 100%;
    border-bottom: 1px #ddd solid;
    margin-bottom: 5px;
  }
  .nav-tabs li a {
    padding: 6px 6px !important;
    margin-right: -6px !important;
    border: 0 !important;
  }
  .nav-tabs li.active a,
  .nav-tabs li.active a:hover,
  .nav-tabs li.active a:active,
  .nav-tabs li.active a:visited {
    border: 0 !important;
  }
}
.panel-compose .panel-body {
  padding: 0;
  margin: 0;
}
.panel-compose .panel-body textarea {
  border: 0;
  font-size: 22px;
}
.panel-compose .panel-footer a {
  margin-right: 15px;
}
.panel {
  box-shadow: none;
  border: 0 !important;
  /*border-bottom: 1px #ddd solid !important;*/
  border-radius: 0;
}
.panel .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #DDDDDD;
  border-radius: 0;
  font-weight: bold;
}
.panel .panel-body {
  padding: 5px;
}
.panel .panel-body .table {
  margin: 0;
}
.panel .panel-body .table tbody tr td {
  padding: 6px;
  padding-left: 0 !important;
}
.panel .panel-body .table tbody tr td input,
.panel .panel-body .table tbody tr td select,
.panel .panel-body .table tbody tr td textarea {
  max-width: 100% !important;
}
.panel .panel-body .table tbody tr:hover {
  cursor: pointer;
  background-color: #FFF;
}
.panel .panel-gallery-btn .btn {
  margin-top: 5px;
}
.table .panel-default {
  margin: 0;
}
.table .panel-default .panel-heading,
.table .panel-default .panel-body {
  background: #FFF;
  border-color: #FFF;
  padding: 0;
}
.panel-analytics {
  border: 1px #DDDDDD solid !important;
  border-radius: 6px !important;
  text-align: center;
}
.panel-analytics h1 {
  font-size: 42px;
}
.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code {
  border-radius: 3px;
}
.callout + .callout {
  margin-top: -5px;
}
.callout-default {
  border-left-color: #777;
}
.callout-default h4 {
  color: #777;
}
.callout-primary {
  border-left-color: #3b65a7;
}
.callout-primary h4 {
  color: #428bca;
}
.callout-success {
  border-left-color: #5cb85c;
}
.callout-success h4 {
  color: #5cb85c;
}
.callout-danger {
  border-left-color: #d9534f;
}
.callout-danger h4 {
  color: #d9534f;
}
.callout-warning {
  border-left-color: #f0ad4e;
}
.callout-warning h4 {
  color: #f0ad4e;
}
.callout-info {
  border-left-color: #5bc0de;
}
.callout-info h4 {
  color: #5bc0de;
}
.callout-list {
  padding: 10px;
  min-height: 55px;
  line-height: 33px;
}
.callout-list img {
  width: 45px;
  margin-right: 15px;
}
.callout-list > .fa {
  margin-right: 15px;
}
.callout-list .btn-mt {
  margin-top: 10px !important;
}
.callout-list .btn {
  margin-top: 6px;
}
.callout-list input {
  display: inline;
  width: 75%;
}
.callout-list input.form-date {
  width: 40%;
}
.callout-list input.form-time {
  width: 20%;
}
.well {
  box-shadow: none !important;
  background-color: #f2f2f2;
  border-radius: 0;
}
.well-filters {
  border-top: 3px solid #c1c1c1 !important;
  border: 0 !important;
}
.nav-pagination {
  text-align: center;
}
.pagination li.active a {
  background: #3b65a7;
  border-color: #3b65a7;
  color: #FFF;
}
.pagination li a {
  color: #3b65a7;
}
.avatar {
  background-color: #3b65a7;
  color: #FFF;
  border-radius: 30px;
  text-align: center;
  margin-right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  line-height: 20px;
  font-size: 16px;
}
.avatar.avatar-xs {
  width: 25px;
  height: 25px;
  padding: 2px;
  font-size: 12px;
  line-height: 25px;
}
.avatar.avatar-sm {
  width: 30px;
  height: 30px;
  padding: 5px;
  line-height: 20px;
  font-size: 16px;
}
.avatar.avatar-md {
  width: 45px;
  height: 45px;
  padding: 15px;
  line-height: 17px;
  font-size: 20px;
}
.avatar.avatar-lg {
  width: 60px;
  height: 60px;
  padding: 20px;
  line-height: 22px;
  font-size: 25px;
}
.login {
  background-color: #3b65a7;
}
.label a {
  color: #FFF !important;
  text-decoration: none;
}
.modal-danger .modal-header {
  background-color: #d9534f;
  color: #FFF;
  border-bottom: 0;
}
.btn-upload {
  position: relative;
  overflow: hidden;
}
.btn-upload input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.upload-caption {
  font-size: 12px;
  line-height: 22px;
  margin-right: 10px;
  margin-left: 10px;
}
a .image-box {
  width: 100%;
  height: 120px;
  overflow: hidden;
  background-size: cover;
  border: 2px #f2f2f2 solid;
}
a:hover .image-box {
  border: 2px #28abe2 solid;
}
@media (max-width: 768px) {
  a .image-box {
    height: 200px;
    margin-bottom: 10px;
  }
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  width: auto !important;
}
body {
  padding-top: 0px;
}
.sidebar {
  margin-top: 10px;
}
.star-on {
  color: #f5ab0b;
}
