#tinymce 
{ 
	background:#FFF !important; 
	padding:20px !important; 
	padding-right: 20px !important;
	padding-left: 20px !important;
	border:1px #CCC solid;
	border-top:0;
	min-height: 200px;
}

hr.divider
{
	border-top: 3px #ccc dashed !important;
}

h2,
{
	border:none !important;
}


h2
{
	font-size: 30px !important;
    border-bottom: 1px #D4D4C8 solid !important;
    padding-bottom: 10px !important;
    margin-bottom: 30px !important;
}

h3
{
	margin-bottom: 20px !important;
	line-height: 25px !important;
	font-size: 22px !important;
	font-weight: normal !important;
}

#tinymce blockquote {
	border-left: 5px solid #d9d9d9 !important;
}

place
{
	border:2px #3B65A7 solid;
	padding:5px;
}

/*
.main-content.blog img
{
	width: 840px;
	margin-right: 0 !important;
	margin-left: 0 !important;
}
*/