.message .panel {
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 10px;
}
.message .panel .provider-icon {
  margin-right: 5px;
}
.message .panel .label {
  margin-right: 5px;
}
.message .panel hr {
  margin: 5px 0;
  padding: 0;
}
.message .panel .panel-body img {
  height: 80px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
