.panel-compose .panel-body {
  padding: 0;
  margin: 0;
}
.panel-compose .panel-body textarea {
  border: 0;
  font-size: 22px;
}
.panel-compose .panel-footer a {
  margin-right: 15px;
}
.panel {
  box-shadow: none;
  border: 0 !important;
  /*border-bottom: 1px #ddd solid !important;*/
  border-radius: 0;
}
.panel .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #DDDDDD;
  border-radius: 0;
  font-weight: bold;
}
.panel .panel-body {
  padding: 5px;
}
.panel .panel-body .table {
  margin: 0;
}
.panel .panel-body .table tbody tr td {
  padding: 6px;
  padding-left: 0 !important;
}
.panel .panel-body .table tbody tr td input,
.panel .panel-body .table tbody tr td select,
.panel .panel-body .table tbody tr td textarea {
  max-width: 100% !important;
}
.panel .panel-body .table tbody tr:hover {
  cursor: pointer;
  background-color: #FFF;
}
.panel .panel-gallery-btn .btn {
  margin-top: 5px;
}
.table .panel-default {
  margin: 0;
}
.table .panel-default .panel-heading,
.table .panel-default .panel-body {
  background: #FFF;
  border-color: #FFF;
  padding: 0;
}
.panel-analytics {
  border: 1px #DDDDDD solid !important;
  border-radius: 6px !important;
  text-align: center;
}
.panel-analytics h1 {
  font-size: 42px;
}
