.avatar
{
	background-color:@brand-primary;
	color:#FFF;
	border-radius:30px;
	text-align:center;
	margin-right:10px;
	display:inline-block;

	width:30px;
	height:30px;
	padding:5px;
	line-height:20px;
	font-size:16px;


	&.avatar-xs
	{
		width:25px;
		height:25px;
		padding:2px;	
		font-size:12px;
		line-height:25px;
	}

	&.avatar-sm
	{
		width:30px;
		height:30px;
		padding:5px;
		line-height:20px;
		font-size:16px;
	}

	&.avatar-md
	{
		width:45px;
		height:45px;
		padding:15px;
		line-height:17px;
		font-size:20px;
	}

	&.avatar-lg
	{
		width:60px;
		height:60px;
		padding:20px;
		line-height:22px;
		font-size:25px;
	}

}

