.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.callout p:last-child {
    margin-bottom: 0;
}
.callout code {
    border-radius: 3px;
}
.callout+.callout {
    margin-top: -5px;
}
.callout-default {
    border-left-color: #777;
}
.callout-default h4 {
    color: #777;
}
.callout-primary {
    border-left-color: @brand-primary;
}
.callout-primary h4 {
    color: #428bca;
}
.callout-success {
    border-left-color: #5cb85c;
}
.callout-success h4 {
    color: #5cb85c;
}
.callout-danger {
    border-left-color: #d9534f;
}
.callout-danger h4 {
    color: #d9534f;
}
.callout-warning {
    border-left-color: #f0ad4e;
}
.callout-warning h4 {
    color: #f0ad4e;
}
.callout-info {
    border-left-color: #5bc0de;
}
.callout-info h4 {
    color: #5bc0de;
}

.callout-list
{
    padding:10px; 
    min-height:55px;  
    line-height: 33px;

    img
    {
        width:45px;
        margin-right:15px;
    }

    > .fa
    {
         margin-right:15px;
    }

    .btn-mt
    {
        margin-top:10px !important;
    }

    .btn
    {
        margin-top:6px;
    }

    input
    {
        display:inline;
        width:75%;

        &.form-date
        {
            width:40%;
        }

         &.form-time
        {
            width:20%;
        }
    }

}