.list-group
{
    

    .list-group-item
    {
        padding:5px 10px;
        border:0;
        margin-bottom:0;
        border-bottom: 1px solid #fff !important;
        

        .fa
        {
            margin-right:4px;
        }

        &.active
        {
            background-color:@brand-secondary;
            border-bottom: 1px solid #fff !important;
            color:#fff;

            .fa
            {
                color:#FFF;
            }
        }

        &:first-child, &:last-child
        {
             border-radius:0;
        }
    }
    

    .list-group-item:first-child
    {
        border-radius:0;
    }

    .list-group-item:last-child
    {
        border-radius:0;
    }
}

.list-channels
{

    .list-group-item
    {
        width:50% !important;
        float:left;
        padding:0;

        &:hover, &:active, &:visited
        {
            background:#FFF;
        }
        

        .item
        {
            border:1px @brand-light solid !important;
            border-radius:6px;
            padding:5px;
            margin-bottom:5px;
            margin-right:5px;

            &.active
            {
                /*
                border:1px @brand-yellow solid !important;
                background:@brand-yellow;
                color:#FFF;
                */
            }

            input
            {
                margin-right:10px;
            }
        }

        img
        {
            margin-right:10px;
            width:16px;
            height:16px;
        }
    }
}