.message
{
    .panel
    {
        border-radius:0;
        box-shadow:none;
        margin-bottom:10px;

        .provider-icon
        {
            margin-right:5px;
        }

        .label
        {
            margin-right:5px;
        }

        hr
        {
            margin:5px 0;
            padding:0;
        }

        .panel-body
        {
            img
            {
                height:80px;
                float:left;
                margin-right:10px;
                margin-bottom:10px;
            }
        }
    }
}