.nav-tabs
{
	margin-bottom:20px;

	li
	{
	
		margin-bottom: -1px;
		margin-right:10px;

		a, a:hover, a:active, a:visited
		{
			padding:10px 15px;
			border:0;

		}

		a:hover
		{
			color: @brand-yellow;
			background:none;
		}

		&.active
		{
			a, a:hover, a:active, a:visited
			{
				color: @brand-yellow;
				cursor: pointer;
				border: 1px solid #ddd !important;
				border-bottom: 1px #fff solid !important;
			}
		}

		
	}
	

	@media(max-width:768px) 
	{  
		border:0 !important;
		
	    li
	    {
	    	width:100%;
	    	border-bottom:1px #ddd solid;
	    	margin-bottom:5px;

	        a
	        {
	        	padding: 6px 6px !important;
	        	margin-right:-6px !important;
	        	border:0 !important;
	        }

	        &.active
	        {
	        	a, a:hover, a:active, a:visited
	        	{
	        		border:0 !important;
	        	}
	        }

	    }
	}

}