header
{
    nav
    {
        background:@header !important;
        border-bottom:1px @brand-default solid;
    }


    @media (min-width:768px) and (max-width:900px) 
    {
        .navbar-menu>li
        {
            display:none;
        }
    }

    @media(max-width:768px) 
    {

        .navbar-toggle
        {
            border-color:transparent !important;
            background:none !important;
            
            .icon-bar
            {
                background-color:#FFF !important;
            }
        }

        .navbar-collapse
        {
            background:@brand-default;
            border:0;

            .navbar-nav>li
            {
                &>a
                {
                    color:@brand-gray !important;
                    padding: 10px;

                    .fa
                    {
                        margin-right:5px;
                    }
                }

                &.active > a
                {
                    background-color:mix(@brand-gray, white, 16.5%) !important;
                    color:@brand-gray !important;
                }

              
            }

            .navbar-project
            {
                margin-right:-15px;
            }
        }
    }

    .open .dropdown-toggle
    {
         background-color:@header-hover !important;
         color:#fff;
    }

    .navbar-brand
    {
        padding:5px !important;

        img
        {
            height:40px;
        }
    }

    .navbar-nav>li>a
    {
        color:@header-text !important;
    }

    .navbar-menu
    {
        li
        {
            > a
            {
                padding:13px;

                .fa
                {
                    font-size:22px;
                    vertical-align: bottom
                }

               
            }

            &.active
            {
                > a
                {
                    background-color:@header-hover !important;
                    padding-bottom: 17px;

                    .fa
                    {
                        color:@brand-light;
                    }
                }
            }
        }
    }

    .navbar-project
    {
        margin-right:42px;
        width: 125px;
        overflow: hidden
    }

    .form-search
    {
        border: 0;
        font-size: 13px;
        border-radius: 15px;
    }

    li.btn-compose, .btn-compose
    {
        margin-left:10px;
        a
        {
            background: @brand-yellow !important;
            font-size:20px;
            padding: 6px;
            border-radius: 3px;
            margin-top: 8px;
            margin-right: 8px;
            color:#FFF;
        }
    }

    .navbar-header .btn-compose
    {
        margin-top:8px;
        margin-right:15px;

        a
        {
            padding: 6px 7px;
            font-size:24px;
            background:transparent !important;
        }
    }

    .navbar-last
    {
        margin-right:0px;
    }

}