.page-header
{
    margin-top:0;
    padding-bottom:5px;
    border-bottom:1px @brand-yellow solid;

    h3,h2,h1
    {
        margin-top:0;
        margin-bottom:5px;
        padding-bottom:0;
        font-size:22px;
        color:@brand-gray;

        .btn
        {
            margin-right:10px;
        }

    }

    .row
    {
        h3,h2,h1
        {
            line-height: 30px !important;
        }
    }

    .page-header-search
    {
        input, .btn
        {
            float:left;
            margin-bottom:5px;
        }

        .btn
        {
            margin-left:10px;
        }

    }


    @media(max-width:768px) 
    {
        div.col-xs-left
        {
            text-align:left !important;
        }
    }
}