.nav-pagination
{
	text-align:center;
}

.pagination
{
	li
	{
		&.active
		{
			a
			{
				background:@brand-primary;
				border-color:@brand-primary;
				color:#FFF;
			}
		}

		a
		{
			color:@brand-primary;
		}
	}
}