.panel-compose
{
	.panel-body
	{
		padding:0;
		margin:0;

		textarea
		{
			border:0;
			font-size:22px;
		}
	}

	.panel-footer
	{
		a
		{
			margin-right:15px;

		}
	}
}

.panel
{
	box-shadow: none;
  	border: 0 !important;
  	/*border-bottom: 1px #ddd solid !important;*/
  	border-radius: 0;

	.panel-heading
	{
		color: #333;
  		background-color: #f5f5f5;
  		border-color: #DDDDDD;
  		border-radius: 0;
  		font-weight:bold;
	}

	.panel-body
	{

		padding:5px;
		.table
		{
			margin:0;

  			tbody
  			{
  				tr
  				{

					td
					{
						padding:6px;
						padding-left:0 !important;

						input, select, textarea
						{
							max-width:100% !important;
						}


									
		    			
					}


		            &:hover {
		               cursor: pointer;
		               background-color:#FFF;
		            }

				}

			}
		}


	}


	.panel-gallery-btn
	{
		.btn
		{
			margin-top:5px;
		}
	}
}

.table
{

	.panel-default
	{
		margin:0;
		
		.panel-heading, .panel-body
		{
			background:#FFF;
			border-color:#FFF;
			padding:0;
		}
	}

}

.panel-analytics
{
	border:1px #DDDDDD solid !important;
	border-radius:6px !important; 
	text-align:center;
	
	h1
	{
		font-size:42px;
	}
}