.table
{

    thead
    {
        tr
        {
            th
            {
                font-size:11px;
                color:#808086;
                border:0;

                &:last-child
                {
                    text-align:right;
                }

            }
        }
        
    }

    tbody
    {
        tr
        {
            td
            {

                padding:14px;
                vertical-align: middle !important;

                code
                {
                    font-size:10px;
                }

                &.message
                {
                    color:#b0b0b3;
                    overflow:hidden; 
                    white-space: nowrap;
                    max-width:600px;
                }

                .label
                {
                    margin-right:5px;
                }

                .provider-icon
                {
                    width:16px;
                    margin-right:5px;
                }


                &:last-child
                {
                    text-align:right;
                }

                input, select
                {
                    max-width:300px;
                }

            }

            &:hover {
               cursor: pointer;
               background-color:#faf5e7;
            }
        }
    }
}

.table-messages
{
    table-layout:fixed;

    @media(max-width:768px) 
    {
        table-layout:auto;

        thead
        {
            display:none;
        }

        tbody
        {
            tr
            {
                td
                {
                    border-top:0;
                    display:inline-block;

                    &.message, &.tags
                    {
                        display:block;
                        width:100%;
                        white-space: normal;
                    }
                    
                }
            }
        }
    }
}

.table-data
{
    margin-top:20px;

    tr
    {
        &:hover
        {
            background:transparent;
        }

        td
        {
            border-top:0 !important;
            border-bottom:1px @brand-light solid;
            cursor:default !important;

            .image
            {
                width:100%;
                height:90px;
                overflow:hidden;
                background-size:cover;
            }

            &:first-child
            {
                background:#fff;
                color:@brand-gray;
            }

            &:last-child
            {
                background:#FFF;
                text-align:left !important;
            }

            &:hover
            {

            }

            .table
            {
                tr
                {
                    td
                    {
                        border-bottom: 1px #FFF solid;
                    }
                }
            }

            @media(max-width:768px) 
            {
                display:block;
                width:100% !important;

                &:first-child
                {
                    border-bottom:0;
                    padding-bottom:0;
                }

                .image
                {
                    height:200px;
                }


            }


        }
    }
}

.table-bordered
{
    border:0;

    thead
    {

        tr
        {
            th
            {
                border-bottom:1px #ddd solid;

            }
        }
    }

    tbody
    {
        tr
        {
            td
            {
                border-top:0;
                border-bottom:0;

                &:first-child
                {
                    border-left:0;
                }

                &:last-child
                {
                    border-right:0;
                }
            }
        }
    }
}


.table-inline
{
    tbody
    {
        tr
        {
            td
            {
                display:block;
                border-bottom:0;

                &:first-child
                {
                    padding-top:0;
                    padding-bottom:0;
                    font-weight:bold;
                    text-transform:capitalize;
                }

                &:hover, &:active, &:visited
                {
                    background:#FFF;
                }
            }

            &:hover, &:active, &:visited
            {
                background:#FFF;
            }


        }
    }
}


.table-translations
{
    width:100%;

    tr
    {
        td
        {
            padding:10px !important;

            &:first-child
            {
                width:60px;
            }

            border:1px #FFF solid;

            .checkbox
            {
                margin-top:10px;

            }
        }
    }
}