.btn-upload
{
	position: relative;
    overflow: hidden;
}

.btn-upload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.upload-caption
{
	font-size:12px;
	line-height:22px;
	margin-right:10px;
	margin-left:10px;
}

a
{
    .image-box
    {
        width:100%;
        height:120px;
        overflow:hidden;
        background-size:cover;
        border:2px @brand-light solid;
    }

    &:hover
    {
        .image-box
        {
            border:2px @brand-secondary solid;
        }
    }

    @media(max-width:768px) 
    {

        .image-box
        {
            height:200px;
            margin-bottom:10px;
        }


    }

}