.well
{
	box-shadow: none !important;
  	background-color: @brand-light;
  	
  	border-radius: 0;
}

.well-filters
{
	border-top: 3px solid mix(@brand-gray, white, 40.5%) !important;
	border: 0 !important;
}