/* SIDEBAR */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-top:1px;

}

#wrapper.toggled {
    padding-left: @wrapper-width;
}

#sidebar-wrapper {
    position: fixed;
    left: @wrapper-width;
    width: 0;
    height: 100%;
    margin-left: -@wrapper-width;
    overflow-y: auto;
    background: @wrapper;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top:0;
}

.wrapper-fixed
{
    #sidebar-wrapper 
    {
        top:50px;
        padding-top:20px;
    }
}

#wrapper.toggled #sidebar-wrapper {
    width: @wrapper-width;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -@wrapper-width;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: @wrapper-width;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 10px;
    padding-top: 24px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 35px;
    margin-bottom:0;

    &.active
    {
        background:@wrapper-hover;
        border-radius:6px !important;
    }
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #333;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: auto;
    font-size: 18px;
    line-height: 25px;
    margin-bottom:20px;

    p
    {
        font-size:12px;
        color:#999;
        margin:0;
    }

    &.well
    {
        margin:10px;
        padding:10px;
        background:#FFF;
    }
}

.sidebar-nav > .sidebar-brand a {
    color: @wrapper;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #333;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: @wrapper-width;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: @wrapper-width;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


#sidebar-wrapper
{
    padding:25px;
    padding-top:70px;

    @media(max-width:768px) 
    {
         padding:0;
    }

    .page-title
    {
        border-bottom:0;
    }

    .list-group-item
    {
        background-color: transparent;
        border:0 !important;

        &.active
        {
            background-color:@brand-secondary;
            margin: 0 -25px;
            padding-left: 35px;
        }
    }
}


.view-menu-left{
 padding: 25px !important;
 padding-top: 70px !important;
 width: 222px !important;
 z-index: 2;
}